* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-4 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inners {
  max-width: 86%;
  margin: 0 auto;
}

.inner {
  width: 80%;
  margin: 0 auto;
}

nav {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

nav .logo {
  width: 30%;
}

.logo h1 {
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
}

nav .links {
  width: 65%;
}

nav .my-btn {
  width: 43px;
  height: 36px;
  border: 2px solid gray;
  margin-top: 15px;
  display: none;
  cursor: pointer;
}

nav .my-btn .btn {
  width: 33px;
  height: 6px;
  margin: 3px;
  background-color: gray;
}

.links a {
  text-decoration: none;
  color: rgba(160, 161, 161, 0.811);
  padding: 0px 10px;
  padding-top: 25px;
  font-size: 0.9rem;
}

.links a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  top: 48px;
  left: 15%;
  background-color: red;
}

header {
  width: 100%;
  padding: 100px 0px;
}

header .left {
  width: 50%;
  padding-top: 50px;
}

header .right {
  width: 50%;
}

.left h3 {
  font-size: 1.5rem;
  color: #fb4343fa;
  font-weight: 400;
}

.left h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.left h1 img {
  width: 15%;
  position: relative;
  top: 24px;
}

.left p {
  font-size: 0.9rem;
  color: grey;
  font-weight: 400;
  padding: 20px 0px;
}

.left button {
  width: 200px;
  height: 46px;
  background-color: #a80808;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  border: none;
}

.right img {
  width: 100%;
  height: 60vh;
}

.first {
  max-width: 100%;
  padding: 70px 0px;
  text-align: center;
}

.first h3 {
  color: #fb4343fa;
  font-size: 1.2rem;
}

.first h2 {
  font-size: 2rem;
  font-weight: 600;
}

.first h2 img {
  width: 7%;
  position: relative;
  top: 20px;
}

.round .one {
  width: 280px;
  height: 280px;
  border-radius: 100%;
  background-color: lightsalmon;
}

.round .one img {
  width: 35%;
}

.round .one h4 {
  color: #fff;
  padding: 5px;
  font-weight: 400;
}

.first .round {
  padding: 80px 0px;
}

.round .two {
  width: 280px;
  height: 280px;
  border-radius: 100%;
  background-color: #e430a2;
}

.round .two img {
  width: 35%;
}

.round .two h4 {
  color: #fff;
  padding: 5px;
  font-weight: 400;
}

.round .three {
  width: 280px;
  height: 280px;
  border-radius: 100%;
  background-color: #7a2005;
}

.round .three img {
  width: 35%;
}

.round .three h4 {
  color: #fff;
  padding: 5px;
  font-weight: 400;
}

.decription .same {
  width: 50%;
  text-align: left;
}

.decription .same h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

.decription .same p {
  font-size: 0.8rem;
  font-weight: 400;
  color: grey;
  padding: 20px 0px;
  padding-right: 13%;
}

.second {
  width: 100%;
  padding: 30px 0;
}

.second .inner .left2 {
  width: 50%;
  padding: 30px 0px;
}

.second .inner .left2 img {
  width: 70%;
  height: 80vh;
  padding-left: 10%;
}

.second .inner .left2 h3 {
  padding-top: 40px;
  color: #fb4343fa;
  font-size: 1.5rem;
}

.second .inner .left2 h2 {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 10px 0;
}

.second .inner .left2 h5 {
  color: #373636;
  font-weight: 400;
  padding: 10px 0px;
}

.second .inner .left2 p {
  color: grey;
  font-size: 0.8rem;
  line-height: 25px;
  font-weight: 400;
  padding-right: 10%;
}

.second .inner .left2 h4 {
  color: gray;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 30px;
}

.second .inner .left2 h4 span {
  color: #151515;
}

.third {
  width: 100%;
  padding: 30px 0px;
  text-align: center;
}

.third h3 {
  color: #fb4343fa;
}

.third h2 {
  font-size: 1.9rem;
  padding: 25px 0px;
}

.third .store {
  width: 100%;
}

.third .store .box {
  width: 32%;
  padding: 0px 0px 10px 0px;
  margin-top: 50px;
  -webkit-box-shadow: 3px 3px 2px #858383;
          box-shadow: 3px 3px 2px #858383;
  background-color: gainsboro;
}

.third .store .box img {
  width: 100%;
}

.third .store p {
  font-size: 1.1rem;
  color: #4d4c4c;
  font-weight: 400;
  padding: 20px 0px 10px 0px;
}

.third .store h4 {
  font-size: 1rem;
  padding-bottom: 20px;
}

.third button {
  margin-top: 50px;
  width: 270px;
  height: 50px;
  background-color: #a80808;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  border: none;
}

.four {
  width: 100%;
  padding: 100px 0px;
  text-align: center;
}

.four h3 {
  color: #fb4343fa;
}

.four h2 {
  font-size: 1.9rem;
  padding: 25px 0px;
}

.four .artist {
  padding-top: 50px;
}

.four .artist .arts {
  width: 30%;
}

.four .artist .arts img {
  width: 70%;
  border-radius: 100%;
}

.four .artist .arts h1 {
  font-size: 1.2rem;
  padding: 10px 0px;
}

.four .artist .arts h5 {
  font-size: 0.8rem;
  color: #989797;
  padding: 10px 0;
}

.four .artist .arts p {
  font-size: 0.7rem;
  font-weight: 400;
  color: #232323;
  line-height: 25px;
  padding: 3px 9%;
  text-align: justify;
}

.four .artist .arts .icon {
  width: 35%;
  margin: 30px auto;
}

.four .artist .arts .icon span {
  color: gray;
}

.five {
  width: 100%;
  height: 60vh;
  background-image: url("../img/11.jpeg");
  background-position: center;
  background-size: cover;
}

.five h3 {
  color: #fb4343fa;
  padding-left: 20px;
}

.five h2 {
  font-size: 1.9rem;
  padding: 20px 20px;
}

.five p {
  font-size: 0.8rem;
  color: #918f8f;
  padding-left: 20px;
}

.five button {
  width: 200px;
  height: 45px;
  background-color: #a80808;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  border: none;
  margin: 20px 0px 0px 20px;
}

.six {
  width: 100%;
  padding: 80px 0;
  text-align: center;
}

.six .img {
  width: 100px;
  height: 100px;
  background-color: #f0ab56;
  border-radius: 100%;
  margin: 0 auto;
}

.six .img img {
  width: 90%;
}

.six h3 {
  color: #fb4343fa;
  font-size: 1.3rem;
  padding-top: 20px;
}

.six h2 {
  font-size: 2rem;
}

.six h2 img {
  width: 7%;
  position: relative;
  top: 30px;
}

.six input {
  margin: 30px 0;
  border: none;
  width: 380px;
  padding: 10px 0;
  font-size: 0.8rem;
}

.six .input2 {
  margin: 30px 0;
  border: none;
  width: 180px;
  padding: 10px 0;
  font-size: 0.8rem;
  background-color: #000;
  color: #fff;
}

.six .input3 {
  width: 30px;
}

.six h1 {
  display: inline;
  font-size: 0.8rem;
  color: #929292;
}

.seven {
  padding: 50px 0;
  text-align: center;
}

.seven h3 {
  color: #fb4343fa;
  font-size: 1.1rem;
}

.seven h2 {
  font-size: 1.8rem;
  padding: 20px 0;
}

.seven .add {
  padding: 50px;
}

.seven .add .sec {
  width: 30%;
}

.seven .add .sec h4 {
  font-size: 1.2rem;
}

.seven .add .sec p {
  font-size: 0.7rem;
  color: grey;
  padding: 15px 0;
}

.seven .add .image {
  width: 100%;
  height: 40vh;
  background-image: url("../img/13.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.eight {
  padding: 30px 0;
}

.eight .left3 {
  width: 60%;
}

.eight .left3 iframe {
  margin-left: 13%;
}

.eight .right3 {
  width: 40%;
}

.eight .right3 h2 {
  font-size: 1.3rem;
  padding-bottom: 15px;
}

.eight .right3 input {
  width: 80%;
  margin-bottom: 30px;
  font-size: 0.8rem;
  padding: 10px 0;
}

.eight .right3 textarea {
  width: 80%;
  height: 15vh;
  font-size: 0.9rem;
  color: #8d8c8c;
}

.eight .right3 button {
  margin-top: 30px;
  width: 180px;
  height: 40px;
  background-color: #a80808;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  border: none;
}

footer {
  width: 100%;
  padding: 10px 0;
  background-color: #939494;
}

footer p {
  font-size: 0.8rem;
  padding: 10px 0;
}

footer .footerlinks span {
  padding: 10px 20px;
}

.box:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.links a:hover {
  color: black;
}

.links a::before:hover {
  width: 70%;
}

button:hover {
  background-color: blue;
}

.right3 .blue:hover {
  background-color: blue;
}

.input2:hover {
  background-color: red;
}

@media only screen and (max-width: 1100px) {
  * {
    font-size: 18px;
  }
  .inners {
    max-width: 95%;
    margin: 0 auto;
  }
  .inner {
    width: 87%;
    margin: 0 auto;
  }
  .right img {
    width: 80%;
    height: 50vh;
    margin-left: 10%;
    margin-top: 10%;
  }
}

@media only screen and (max-width: 825px) {
  * {
    font-size: 16px;
  }
  .inners {
    width: 100%;
  }
  .inner {
    width: 95%;
  }
  .third .store .box {
    width: 45%;
    margin: 20px 2%;
  }
}

@media only screen and (max-width: 580px) {
  * {
    font-size: 15px;
  }
  nav .links {
    width: 100%;
    background-color: #810514;
    position: absolute;
    top: 60px;
    display: none;
  }
  .links a {
    padding: 15px 10px;
    font-size: 0.9rem;
  }
  nav .my-btn {
    display: block;
  }
  header .left {
    width: 100%;
    padding: 30px 20px 0px 20px;
    text-align: center;
  }
  .left button {
    width: 150px;
  }
  header .right {
    width: 80%;
    padding-left: 13%;
    margin-top: 50px;
  }
  .decription .same {
    width: 100%;
    text-align: center;
  }
  .decription .same h2 {
    padding: 10px 20px;
  }
  .decription .same p {
    padding: 10px 10px;
  }
  .decription .same br {
    display: none;
  }
  .second .inner .left2 {
    width: 100%;
    padding: 30px 0px;
  }
  .second .inner .left2 img {
    width: 70%;
    height: 80vh;
    padding-left: 0%;
    margin-left: 15%;
  }
  .third .store .box {
    width: 100%;
    margin: 40px 0%;
  }
  .third button {
    margin-top: 30px;
    width: 180px;
    height: 35px;
  }
  .four .artist .arts {
    width: 100%;
  }
  .five {
    height: 50vh;
  }
  .five .detail {
    position: relative;
    top: 330px;
  }
  .five .detail button {
    width: 160px;
    height: 40px;
  }
  .six {
    margin-top: 300px;
  }
  .seven .add .sec {
    width: 30%;
  }
  .eight .left3 {
    width: 100%;
  }
  .eight .right3 {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  footer p {
    width: 100%;
    text-align: center;
  }
  footer .footerlinks {
    width: 100%;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */